# dependencies
node_modules/
.venv/
.aws/
.env
.env.*
# build
.next/
dist/
__pycache__/
*.pyc
# OS
.DS_Store
# python
*.sqlite3
# docker
data/
# testing
.pytest_cache/
.coverage
htmlcov/
*.cover
.hypothesis/
docs/